@font-face{
    font-family: GT America;
    src:url(/GT-America/GT-America-Standard-Regular-Trial.otf)
}

body{  
    margin:0;
    padding: 0;
    background: #000;
    color: #fff;
}

h1{
    margin: 0;
    color: #fff;
}

.hero{
    height:100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.signin{
    margin: auto 0;
}

.signin a{
    color: #818eff;
    text-decoration: none;
    border-radius: .5rem;
    padding: .5rem 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    font-family: GT America, sans-serif;
    word-spacing: 2px;
    font-weight: 600;
}

nav img{
    width: 150px;
    margin-right: 0;
}

.hero-title h1{
    text-align: center;
    font-size: 4rem;
    font-family: GT America, sans-serif;
    line-height: 69px;
    font-weight: 550;
    text-shadow: 1.5px 1.5px #fff;
}

.hero-title span{
    font-family: 'Times New Roman', Times, serif;
}


.hero-title{
    /* height: 40vh; */
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.button{
    min-height: 4rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #4c5fd5;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    line-height: 1em;
    transition: box-shadow .1s;
    display: flex;
    position: relative;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0), inset 0 0 0 10rem rgba(0, 0, 0, 0);
}

.button-ghost{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0), inset 0 0 0 10rem #000;
}

.companies{
    color: #fff;
    background-color: #000;
    margin-top: 3rem;
    min-height: 200vh;
}

.company-title{
    text-align: center;
    letter-spacing: -.01em;
    font-size: 1.25rem;
    line-height: 1.4;
    font-family: 'GT America', sans-serif;
}

.logo-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    padding: 1rem;
}

img{
    width: 100%;
}

.logo-img img{
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.text-info{
    background-color: rgb(218, 219, 241);
}